* {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}
body {
    margin-left: 40px;
    width: 400px;
}
.rl {
    direction: rtl;
}
h1 {
    color:darkcyan;
}
.ctx {
  /*overflow: auto;*/
  display: flow-root;
}
img {
    max-width:70px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 10px;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.red {
    background-color:burlywood;
    border-color: darkorange;
    border-style: solid;
    border-width: 3px;
}
.green {
    background-color:greenyellow;
    border-color:olivedrab;
    border-style: solid;
    border-width: 3px;
}
.blue {
    background-color:skyblue;
    border-color:dodgerblue;
    border-style: solid;
    border-width: 3px;
}
.violet {
    background-color:palevioletred;
    border-color:darkmagenta;
    border-style: solid;
    border-width: 3px;
}
.grey {
    background-color:#eee;
    border-color: #999;
    border-style: solid;
    border-width: 3px;
}
.foo {
    padding-top: 10px;
}
.bar {
    width: 30%;
}
.baz {
    width: 40%;
}
.tight {
  margin:0;
  padding:0;
  width: 200px;
}
.inline {
  display: inline;
}
.quarter {
  width: 100px;
}
  /*max-width: 250px;*/
.content {
  width: fit-content;
}
.clear {
  clear: both;
}
.clearleft {
  clear: left;
}
.clearright {
  clear: right;
}
.ofhidden {
    overflow: hidden;
}